body{
    background-image: url(an.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
p{
    color: yellow;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 6px;
}
div{
    height: fit-content;
    width: fit-content;
    border-top: dashed red;
    border-right: double green;
    border-bottom: dotted cyan;
    border-left: solid orange;
}


